<div class="tbn">
	 <!--CSS/JS-->
<style type="text/css">
*{margin:0;padding:0;}
ul,li{list-style:none;}
body{font-size:14px;font-family:"微软雅黑";}
.top-menu{display:block;width:150px;}
.top-title{background:#e4393c;color:white;height:30px;line-height:30px;font-size:14px;padding-left:0px;}
.top-menu li{display:block;padding-left:1px;height:30px;line-height:30px;background-image:url(1.jpg);background-repeat:no-repeat;background-position:right;}
.top-menu li:hover{background:none;box-shadow:0 0 2px #ddd;z-index:3;}
.top-menu a{text-decoration:none;color:black;}
.top-menu a:hover{font-weight:900;text-decoration:underline;color:#e4393c;}
.content{background:white;position:absolute;left:310px;top:250px;display:none;box-shadow:0 0 8px #ddd;z-index:4px;}
.content .div-left{width:500px;float:left;margin:5px;}
.content .div-right{width:220px;float:left;margin:5px;}
.top-menu li:hover .content{display:block;}
.top-menu li:hover span{position:relative;width:20px;height:30px;display:inline-block;float:right;background:white;z-index:20;}
.div-left dl{display:block;overflow:hidden;padding-bottom:6px;border-bottom: 1px solid #EEE;}
.div-left dl dt{display:block;height:22px;width:60px;line-height:22px;text-align:right;float:left;padding-right:2px;}
.div-left dl dd{display:block;overflow:hidden;}
.div-left dl dt a{color: #e4393c;font-weight: bold;text-decoration: underline;font-size: 10pt;}
.div-left dl dd a{ display:block;float:left;border-left:1px solid #CCC;color: #737373;font-size: 9pt;padding: 0 8px;height: 14px;line-height: 14px;margin: 4px 0;}
.div-right dl{margin:13px;}
.div-right dl dt{color: #e4393c;font-weight: bold;}
</style>
<script type="text/javascript">
</script>
<!--div-->
<ul class="top-menu">
<li><a href="#">银行、国股、城商</a><span></span> 
<div class="content">
<div class="div-left">
<dl>
<dt><a href="#">电子书</a></dt>
<dd>
<a href="javascript:void(0)" onclick="cate_search(1)">国有行</a> <a href="javascript:void(0)" onclick="cate_search(2)">股份行</a> <a href="javascript:void(0)" onclick="cate_search(3)">城商行</a> <a href="javascript:void(0)" onclick="cate_search(4)">农商行</a>
<a href="#">文学</a> <a href="#">经管</a> <a href="#">畅读VIP</a>
</dd>
</dl>
<dl>
<dt><a href="#">数字音乐</a></dt>
<dd>
<a href="#">通俗流行</a> <a href="#">古典音乐</a> <a href="#">摇滚说唱</a> <a href="#">爵士蓝调</a>
<a href="#">乡村民谣</a> <a href="#">有声读物</a>
</dd>
</dl>
<dl>
<dt><a href="#">音像</a></dt>
<dd>
<a href="#">音乐</a> <a href="#">影视</a> <a href="#">教育音像</a> <a href="#">游戏</a>
</dd>
</dl>
</div>
<div class="div-right">
<dl>
<dt><a href="#"><img src="ad1.jpg" width="194" height="70" alt="1折秒家电"></a></dt>
<dt><a href="#"><img src="ad2.jpg" width="194" height="70" alt="小家电引爆红六月"></a></dt>
<dt>推荐品牌</dt>
<dd><a href="#">美的官方旗舰店</a></dd>
<dd><a>苏泊尔旗舰店</a></dd>
<dd><a href="#">九阳旗舰店</a></dd>
</dl>
</div>
</div>
</li>
<li><a href="#">券商、营业部</a><span></span>    
<div class="content">
<div class="div-left">
<dl> 
<dt><a href="#">电视</a></dt>
<dd>
<a href="#">12.12狂欢</a><a href="#">合资品牌</a> <a href="#">国产品牌</a> <a href="#">互联网品牌</a>
</dd>
<dt><a href="#">空调</a></dt>
<dd>
<a href="#">壁挂式空调</a> <a href="#">柜式空调</a> <a href="#">中央空调空调配件</a>
</dd>
</dl>
</div>
<div class="div-right">
<dl>
<dt><a href="#"><img src="ad1.jpg" width="194" height="70" alt="1折秒家电"></a></dt>
<dt><a href="#"><img src="ad2.jpg" width="194" height="70" alt="小家电引爆红六月"></a></dt>
<dt>推荐品牌</dt>
<dd><a href="#">美的官方旗舰店</a></dd>
<dd><a>苏泊尔旗舰店</a></dd>
</dl>
</div>
</div>    
</li>
<li><a href="#">信托</a></li>
<li><a href="#">期货、营业部</a></li>
<li><a href="#">家居、家具、家装</a></li>
<li><a href="#">服饰内衣、珠宝首饰</a></li>
<li><a href="#">个护化妆</a></li>
<li><a href="#">鞋靴、箱包、厨具</a></li>
<li><a href="#">运动户外</a></li>
<li><a href="#">汽车用品</a></li>
<li><a href="#">母婴、玩具乐器</a></li>
<li><a href="#">食品饮料、酒类</a></li>
<li><a href="#">营养保健</a></li>
</ul>
</div>